canvas {
	border: 4px solid white;
	background-color: black;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#sliderValue
{
	text-align:center !important;
}
#sliders
{
	text-align:center !important;
}
#text
{
	text-align: center;
    font-family: sans-serif;
    display: block;
}
#function
{
	color: "white";
}
#links
{
	text-align: center;
    font-family: sans-serif;
    display: block;
	margin-top: 5px;
}

#shadertoy
{
	text-align: center;
    font-family: sans-serif;
    display: block;
}

video {
	display: none;
}

body {
	background-color: #262626;
}
